@media (min-width: 765px){
body{
  font-family: 'Source Sans Pro', sans-serif, "Courier New", helvetica, arial;
  color: #333333;
  background: #f36821;
  background-image: url('background2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  margin-left: -8px;
  margin-top: -8px;
  margin-right: 0px;
}

main{
  margin-right: 15%;
  margin-left: 15%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  background: white;
  padding-bottom: 10px;
}
.GIF{
  padding-right: 50%;
  width: 100%
  padding-top: 5px;
}
}


div{
  display: block;
}
.Black{
  color: black;
}
.Orange{
  color: #f36821;
}
.White{
  color: black;
}
h1{
  color: #f36821;
  font-family: 'Special Elite', cursive;
  font-size: 3.3em;
  margin-bottom: 0px;
  margin-top: 5px;
  padding-bottom: 0px;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
}

h2{
  color: #f36821;
  font-family: 'Special Elite', cursive;
  font-size: 2.5em;
  margin-top: 10px;
  text-align: center;
}

h3{
  text-align: center;
  color: #f36821;
  font-family: 'Special Elite', cursive;
  font-size: 1.5em;
  margin-bottom: 10px;
}

p{
  font-size: 1.2em;
}


.Fact{
  margin-top: 10px;
  margin-bottom: none;
  color: black;
  text-align: left;
  float: right;
  width: 40%;
  padding: 4px;
  border-radius: 25px;
  border:4px solid #000;

}

#P1{
  display: block;
}

.End{
  color: grey;
  font-size: 1em;
}

@media (max-width: 765px){
  body{
    font-family: 'Source Sans Pro', sans-serif, "Courier New", helvetica, arial;
    color: #333333;
    background: #f36821;
    margin-left: -8px;
    margin-top: -8px;
    margin-right: 0px;
  }

main{
  width: 90%;
  margin-left:5%;
  margin-right: 5%;
  padding-top: 2%;
  background: white;
  padding-bottom: 10px;
}

.GIF{
  width: 100%
  padding-top: 5px;
}
}
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}
